body {
  background-image: url(/assets/background.jpg);
  background-size: cover;
}

/* Plateau */
.playground {
    display: grid;
    grid-template-columns: repeat(33, 24px);
    grid-template-rows: repeat(33, 24px);
    width: 792px;
    height: 792px;
    border: 2px transparent #000;
    position: relative;
    margin: 20px auto;
    box-sizing: content-box;
    opacity: 0.9;
    box-shadow: 5px 5px 15px 5px #000000;
}

/* Joueur */    
.player {
    background-color: #36dc86;
    z-index: 10;
    border-radius: 4px;
    position: absolute;
}

.enemy {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: red;
  border-radius: 50%;
  z-index: 6;
}


/* Case */
.cell {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    position: absolute;
}

/* Elements de décor */
.borderWall {
    background-image: url(/assets/wall.png);
    background-size: cover;
  }
.fixedWall {
  background-image: url(/assets/blocfissure.png);
}  
.destructible {
    background-image: url(/assets/chevalier.png);
    background-size: cover;
  }
  
.empty {
  background-color: #d5ccb4;
  background-size: cover;
  }

/* Bombes */  
.bomb {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(/assets/bomb.png);
  background-size: cover;
  }

.explosion {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(/assets/explosion.png);
  background-size: cover;
  z-index: 5;
  }
    
    
