body {
  background-image: url(/assets/background.jpg);
  background-size: cover;
}
.playground {
    width: 792px;
    height: 792px;
    border: 2px transparent #000;
    position: relative;
    margin: 20px auto;
    box-sizing: content-box;
    background-color: #d5ccb4;
    opacity: 0.9;
    box-shadow: 5px 5px 15px 5px #000000;
}
    
.player {
    background-color: #36dc86;
    z-index: 10;
    border-radius: 4px;
    position: absolute;
}

.cell {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    position: absolute;
}

.borderWall {
    background-image: url(/assets/bloc_indestructible.png);
    background-size: cover;
  }
.fixedWall {
  background-image: url(/assets/blocfixe.png);
}  
.destructible {
    background-color: orange;
    background-size: cover;
  }
  
.empty {
    background-image: url('images/floor.png');
    background-size: cover;
  }
  
